/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.inCenter {
  width: 70%;
  margin: 0 auto;
}

.toRight {
  float: right;
}

.bigText {
  font-size: x-large;
  color: #4f4f4f;
}

.halfBlock {
  display: flex;
  width: 50%;
}

.rowReverse {
  flex-direction: row-reverse;
}

.doFlex {
  display: flex;
  flex-wrap: wrap;
}

.spaceAround {
  justify-content: space-around;
}

.spaceBetween {
  justify-content: space-between;
}

.boxForLights {
  display: flex;
  flex-direction: column;
  padding-bottom: 7%;
}

.white {
  background-color: white;
}

.seashell {
  background-color: seashell;
}

.green {
  background-color: #e6ffe6;
}

.warn {
  background-color: #ffcccc;
}
