<div *ngIf="realty">

    <div>
        <app-lights></app-lights>

        <mat-toolbar>
            <div class="halfBlock spaceAround">
                <h1>Overview</h1>
                <button [style.display]="isVisibleForAdmin ? 'none' : 'block'" mat-raised-button
                    (click)="goToRealtyMy()">My Realties</button>
                <button mat-raised-button (click)="goToRealtyAll()">All Realties</button>
            </div>
            <div class="halfBlock rowReverse">
                <button mat-mini-fab (click)="logout()" color="warn">
                    <mat-icon>cancel</mat-icon>
                </button>
            </div>
        </mat-toolbar>

    </div>

    <div>
        <mat-card>
            <mat-card-title>
                <span>Realty# {{realty.id}}</span>
            </mat-card-title>
            <mat-card-content>

                <mat-list>
                    <mat-list-item>
                        <div class="bigText twoBlocksPosition">Price: </div>
                        <div class="twoBlocksPosition">{{realty.price}}</div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <div class="bigText twoBlocksPosition">Square: </div>
                        <div class="twoBlocksPosition">{{realty.square}}</div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <div class="bigText twoBlocksPosition">Type: </div>
                        <div class="twoBlocksPosition">{{realty.type}}</div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <div class="bigText twoBlocksPosition">Description: </div>
                        <div class="twoBlocksPosition">{{realty.description}}</div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <div class="bigText twoBlocksPosition">Date of creation: </div>
                        <div class="twoBlocksPosition">{{realty.dateOfCreation}}</div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <div class="bigText twoBlocksPosition">Full Name: </div>
                        <div class="twoBlocksPosition">{{ownerName}}</div>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
            <mat-card-actions [style.display]="isVisibleForAdmin ? 'none' : 'block'"
                [style.display]="isOwner ? 'block' : 'none'">
                <button mat-raised-button (click)="goToRealtyEdit()">Edit</button>
                <button mat-raised-button (click)="delete(realty.id)" class="toRight">Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>