<div *ngIf="user">

    <mat-toolbar>
        <div class="halfBlock spaceAround">
            <h1>Overview</h1>
            <button mat-raised-button (click)="goToUserAll()">All Users</button>
            <button mat-raised-button (click)="goToRealtyAll()">All Realties</button>
        </div>
        <div class="halfBlock rowReverse">
            <button mat-mini-fab (click)="logout()" color="warn">
                <mat-icon>cancel</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <div>
        <mat-card>
            <mat-card-title>
                <span>User# {{user.id}}</span>
            </mat-card-title>
            <mat-card-content>

                <mat-list>
                    <mat-list-item>
                        <div class="bigText twoBlocksPosition">Id: </div>
                        <div class="twoBlocksPosition">{{user.id}}</div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <div class="bigText twoBlocksPosition">Email: </div>
                        <div class="twoBlocksPosition">{{user.email}}</div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <div class="bigText twoBlocksPosition">First name: </div>
                        <div class="twoBlocksPosition">{{user.firstName}}</div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <div class="bigText twoBlocksPosition">Second name: </div>
                        <div class="twoBlocksPosition">{{user.secondName}}</div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <div class="bigText twoBlocksPosition">Role: </div>
                        <div class="twoBlocksPosition">{{user.role}}</div>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>
