<div>
  <div>
    <mat-toolbar>
        <h3>All Realties</h3>
        <button mat-raised-button (click)="goToCreateRealty()">Create</button>
    </mat-toolbar>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Filter">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> <button mat-button >Id</button> </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> <button mat-button >Price</button> </th>
        <td mat-cell *matCellDef="let row"> {{row.price}} </td>
      </ng-container>
      <ng-container matColumnDef="square">
        <th mat-header-cell *matHeaderCellDef> <button mat-button >Square</button> </th>
        <td mat-cell *matCellDef="let row"> {{row.square}} </td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> <button mat-button >Type</button> </th>
        <td mat-cell *matCellDef="let row"> {{row.type}} </td>
      </ng-container>
      <ng-container matColumnDef="overview">
        <th mat-header-cell *matHeaderCellDef> Overview </th>
        <td mat-cell *matCellDef="let row">
          <button mat-raised-button >Overview</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <!-- <mat-paginator [pageSizeOptions]="[10]" (page)="pageEvent = handlePage($event)" [showFirstLastButtons]="false"> -->
    <!-- </mat-paginator> -->

  </div>
</div>
