<div *ngIf="realty">
  <div>
    <mat-toolbar>
      <div class="all-width">
        <div class="button-row">
          <button mat-raised-button (click)="goToRealtiesMy()">My Realties</button>
          <button mat-raised-button (click)="goToRealtiesAll()">All Realties</button>
          <button mat-raised-button (click)="logout()" class="to-right">
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar>
  </div>
  <form class="example-container" [formGroup]="realtyForm" (ngSubmit)="onFormSubmit(realtyForm.value)">
    <mat-form-field class="example-full-width">
      <input matInput type="price" placeholder="Price" formControlName="price" [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="square" placeholder="Square" formControlName="square" [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="type" placeholder="Select type">
        <mat-option value="LAND">Land</mat-option>
        <mat-option value="LIVING_ROOM">Living room</mat-option>
        <mat-option value="NON_RESIDENTIAL_PREMISES">Non residential premises</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="description" placeholder="Description" formControlName="description"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <div class="button-row">
      <button type="submit" mat-raised-button class="to-right">Save</button>
    </div>
  </form>
</div>
