<div>

  <div>

    <app-lights></app-lights>

    <mat-toolbar>
      <div class="halfBlock spaceAround">
        <h3>All Users</h3>
        <button mat-raised-button (click)="goToRealtiesAll()">All Realties</button>
        <button mat-raised-button (click)="goToRealtiesDeletedList()">Deleted Realties</button>
      </div>
      <div class="halfBlock rowReverse">
        <button mat-mini-fab (click)="logout()" color="warn">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </mat-toolbar>

  </div>

  <div>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> <button mat-button (click)="getUsers('id')">Id</button> </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> <button mat-button (click)="getUsers('email')">Email</button> </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> <button mat-button (click)="getUsers('firstName')">First name</button> </th>
        <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
      </ng-container>
      <ng-container matColumnDef="secondName">
        <th mat-header-cell *matHeaderCellDef> <button mat-button (click)="getUsers('secondName')">Second name</button>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.secondName}} </td>
      </ng-container>
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> <button mat-button (click)="getUsers('role')">Role</button> </th>
        <td mat-cell *matCellDef="let row"> {{row.role}} </td>
      </ng-container>
      <ng-container matColumnDef="overview">
        <th mat-header-cell *matHeaderCellDef> Overview </th>
        <td mat-cell *matCellDef="let row">
          <button mat-raised-button (click)="goToUserOverview(row.id)">Overview</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10]" (page)="pageEvent = handlePage($event)" [showFirstLastButtons]="false">
    </mat-paginator>
  </div>
</div>