<div>
  <div>
    <mat-toolbar class="center">
      <h1>
        Real Estate Selling Website
        <mat-icon>location_city</mat-icon>
      </h1>
    </mat-toolbar>
    <mat-toolbar>
      <div class="all-width">
        <div class="button-row">
          <button mat-raised-button (click)="goToRealtiesAll()">All Realties</button>
          <button mat-raised-button (click)="goToRealtiesCreate()">Create new</button>
          <button mat-raised-button (click)="logout()" class="to-right warn">
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar>
  </div>

  <mat-card>
    <mat-toolbar class="white">
      <div class="button-row border">
        <button mat-raised-button (click)="getRealties('id')">Id</button>
        <button mat-raised-button (click)="getRealties('price')">Price</button>
        <button mat-raised-button (click)="getRealties('square')">Square</button>
        <button mat-raised-button (click)="getRealties('type')">Type</button>
      </div>
    </mat-toolbar>
    <mat-card-content>
      <ul>
        <li *ngFor="let realty of realties">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Realty</mat-card-title>
              <mat-card-subtitle><span class="small">{{realty.id}}</span></mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/photo.png" alt="Random photo" class="picture">
            <mat-card-content>
              <mat-list>
                <mat-list-item>
                  <mat-icon mat-list-icon>
                    monetization_on
                  </mat-icon>
                  <h4 mat-line>Price:</h4>
                  <p mat-line>{{realty.price}} $</p>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon mat-list-icon>
                    texture
                  </mat-icon>
                  <h4 mat-line>Square:</h4>
                  <p mat-line>{{realty.square}} (M<sup>2</sup>)</p>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon mat-list-icon>
                    layers
                  </mat-icon>
                  <h4 mat-line>Type:</h4>
                  <p mat-line>{{realty.type}}</p>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
              <button mat-raised-button (click)="goToRealtyOverview(realty.id)">Overview</button>
            </mat-card-actions>
          </mat-card>
        </li>
      </ul>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-paginator [pageSizeOptions]="[6]" (page)="pageEvent = handlePage($event)" [showFirstLastButtons]="false">
    </mat-paginator>
  </mat-card>
</div>