.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  padding-inline-start: 0;
}

li {
  width: 30%;
  margin: 10px;
}

.picture {
  width: 70%;
  margin: 0 auto;
}

.to-right {
  float: right;
}

.all-width {
  width: 100%;
}

.card {}
